In [1]:
import pandas as pd 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [2]:
#Parameters
file = "../../tables/2021AP.xlsx"
next_week = 11
#Read in df
df = pd.read_excel(file)
df

,Team,Week,Rank,W,L,Winning Percentage,Opp. Rank,Opp. P5,Home,Result,Points Scored,Points Against,Margin,Next Week Rank,Movement
0,Alabama,1,1,0,0,1,14,1,0,W,44,13,31,1,0
1,Oklahoma,1,2,0,0,1,26,0,1,W,40,35,5,4,-2
2,Clemson,1,3,0,0,1,5,1,0,L,3,10,-7,6,-3
3,Ohio State,1,4,0,0,1,26,1,0,W,45,31,14,3,1
4,Georgia,1,5,0,0,1,3,1,0,W,10,3,7,2,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
296,Louisiana-Lafayette,12,22,9,1,0.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
297,San Diego State,12,23,9,1,0.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
298,Utah,12,24,7,3,0.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
299,NC State,12,25,7,3,0.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
300,Team,Week,Rank,W,L,Winning Percentage,Opp. Rank,Opp. P5,Home,Result,Points Scored,Points Against,Margin,Next Week Rank,Movement

In [3]:
#Drop footer
df.drop(index = (df.index.stop - 1), inplace = True)

#Drop null columns (teams with byes)
df.dropna(inplace = True)

#Set week
for index, row in df.iterrows():
    if row['Week'] >= next_week:
        df.drop(index = index, inplace = True)

In [4]:
df

,Team,Week,Rank,W,L,Winning Percentage,Opp. Rank,Opp. P5,Home,Result,Points Scored,Points Against,Margin,Next Week Rank,Movement
0,Alabama,1,1,0,0,1,14,1,0,W,44,13,31,1,0
1,Oklahoma,1,2,0,0,1,26,0,1,W,40,35,5,4,-2
2,Clemson,1,3,0,0,1,5,1,0,L,3,10,-7,6,-3
3,Ohio State,1,4,0,0,1,26,1,0,W,45,31,14,3,1
4,Georgia,1,5,0,0,1,3,1,0,W,10,3,7,2,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,Coastal Carolina,10,21,7,1,0.875,26,0,0,W,28,8,20,22,-1
246,Penn State,10,22,5,3,0.625,26,1,0,W,31,14,17,23,-1
247,SMU,10,23,7,1,0.875,26,0,0,L,25,28,-3,26,-3
248,Louisiana-Lafayette,10,24,7,1,0.875,26,0,1,W,21,17,4,24,0
249,Fresno State,10,25,7,2,0.777778,26,0,1,L,14,40,-26,26,-1

In [5]:
#Make W/L binary values
for index, row in df.iterrows():
    if row['Result'] == 'W':
        df.at[index, 'Result'] = 1
    else: 
        df.at[index, 'Result'] = 0

In [6]:
df = df.drop(columns = ["Movement", "Team"])

In [7]:
for name, values in df.iteritems():
    df[name] = pd.to_numeric(values)
    
df.dtypes

Week                    int64
Rank                    int64
W                       int64
L                       int64
Winning Percentage    float64
Opp. Rank               int64
Opp. P5                 int64
Home                    int64
Result                  int64
Points Scored           int64
Points Against          int64
Margin                  int64
Next Week Rank          int64
dtype: object

In [8]:
#Group rankings to categories
for index, row in df.iterrows():
    if row['Rank'] <= 5:
        df.at[index, 'Rank'] = 0
    elif row['Rank'] <= 10:
        df.at[index, 'Rank'] = 1
    elif row['Rank'] <= 15:
        df.at[index, 'Rank'] = 2
    elif row['Rank'] <= 20:
        df.at[index, 'Rank'] = 3
    elif row['Rank'] <= 25:
        df.at[index, 'Rank'] = 4
    else:
        df.at[index, 'Rank'] = 5
        
for index, row in df.iterrows():
    if row['Next Week Rank'] <= 5:
        df.at[index, 'Next Week Rank'] = 0
    elif row['Next Week Rank'] <= 10:
        df.at[index, 'Next Week Rank'] = 1
    elif row['Next Week Rank'] <= 15:
        df.at[index, 'Next Week Rank'] = 2
    elif row['Next Week Rank'] <= 20:
        df.at[index, 'Next Week Rank'] = 3
    elif row['Next Week Rank'] <= 25:
        df.at[index, 'Next Week Rank'] = 4
    else:
        df.at[index, 'Next Week Rank'] = 5

In [9]:
X = df.drop(columns = ['Next Week Rank'])
y = df["Next Week Rank"]

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 8)
X_train.shape

(169, 12)

In [11]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [12]:
#Decision Tree classifier
from sklearn import tree
dtc = tree.DecisionTreeClassifier(random_state = 8)
dtc.fit(X_train, y_train)
dtc.score(X_test, y_test)

0.631578947368421

In [13]:
#Scaled Decision Tree classifier
from sklearn import tree
scaled_dtc = tree.DecisionTreeClassifier(random_state = 8)
scaled_dtc.fit(X_train_scaled, y_train)
scaled_dtc.score(X_test_scaled, y_test)

0.631578947368421

In [14]:
#Random Forest classifier
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier(random_state = 8)
rfc.fit(X_train, y_train)
rfc.score(X_test, y_test)

0.6491228070175439

In [15]:
#Scaled Random Forest classifier
from sklearn.ensemble import RandomForestClassifier
scaled_rfc = RandomForestClassifier(random_state = 8)
scaled_rfc.fit(X_train_scaled, y_train)
scaled_rfc.score(X_test_scaled, y_test)

0.6491228070175439

In [16]:
#Support Vector Machine classifier
from sklearn.svm import SVC
svm = SVC(random_state = 8)
svm.fit(X_train, y_train)
svm.score(X_test, y_test)

0.21052631578947367

In [17]:
#Scaled SVMC
svm = SVC(random_state = 8)
svm.fit(X_train_scaled, y_train)
svm.score(X_test_scaled, y_test)

0.5789473684210527