In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel("2021AP.xlsx")

In [3]:
df.drop(index = len(df['Team']) - 1, inplace = True)

In [4]:
df

,Team,Week,Rank,W,L,Winning Percentage,Opp. Rank,Opp. P5,Home,Result,Points Scored,Points Against,Margin,Next Week Rank,Movement
0,Alabama,1,1,0,0,1,14,1,0,W,44,13,31,1,0
1,Oklahoma,1,2,0,0,1,26,0,1,W,40,35,5,4,-2
2,Clemson,1,3,0,0,1,5,1,0,L,3,10,-7,6,-3
3,Ohio State,1,4,0,0,1,26,1,0,W,45,31,14,3,1
4,Georgia,1,5,0,0,1,3,1,0,W,10,3,7,2,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170,Texas A&M,7,21,4,2,0.666667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
171,NC State,7,22,4,1,0.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
172,SMU,7,23,6,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
173,San Diego State,7,24,5,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
174,Texas,7,25,4,2,0.666667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
week_num = max(pd.to_numeric(df['Week']))
week_num

7

In [6]:
for team in df['Team']:
    for week in range(1, week_num + 1):
        if df.loc[(df["Team"] == team) & (df["Week"] == week)].size == 0:
            df.loc[len(df.index)] = [team, week, 26, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan]

In [7]:
df

,Team,Week,Rank,W,L,Winning Percentage,Opp. Rank,Opp. P5,Home,Result,Points Scored,Points Against,Margin,Next Week Rank,Movement
0,Alabama,1,1,0,0,1,14,1,0,W,44,13,31,1,0
1,Oklahoma,1,2,0,0,1,26,0,1,W,40,35,5,4,-2
2,Clemson,1,3,0,0,1,5,1,0,L,3,10,-7,6,-3
3,Ohio State,1,4,0,0,1,26,1,0,W,45,31,14,3,1
4,Georgia,1,5,0,0,1,3,1,0,W,10,3,7,2,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
289,San Diego State,1,26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
290,San Diego State,2,26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
291,San Diego State,3,26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
292,San Diego State,4,26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
293,San Diego State,5,26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df.to_csv(f'thru_week_{week_num}.csv', header = True, index = False)