In [1]:
import pandas as pd 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder

In [2]:
#Parameters
file = "../tables/2021AP.xlsx"
next_week = 8
#Read in df
df = pd.read_excel(file)
df

,Team,Week,Rank,W,L,Winning Percentage,Opp. Rank,Opp. P5,Home,Result,Points Scored,Points Against,Margin,Next Week Rank,Movement
0,Alabama,1,1,0,0,1,14,1,0,W,44,13,31,1,0
1,Oklahoma,1,2,0,0,1,26,0,1,W,40,35,5,4,-2
2,Clemson,1,3,0,0,1,5,1,0,L,3,10,-7,6,-3
3,Ohio State,1,4,0,0,1,26,1,0,W,45,31,14,3,1
4,Georgia,1,5,0,0,1,3,1,0,W,10,3,7,2,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,San Diego State,8,22,6,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
197,Pittsburgh,8,23,5,1,0.833333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
198,UTSA,8,24,7,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199,Purdue,8,25,4,2,0.666667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
200,Team,Week,Rank,W,L,Winning Percentage,Opp. Rank,Opp. P5,Home,Result,Points Scored,Points Against,Margin,Next Week Rank,Movement

In [3]:
#Drop footer
df.drop(index = (df.index.stop - 1), inplace = True)

#Drop null columns (teams with byes)
df.dropna(inplace = True)

#Set week
for index, row in df.iterrows():
    if row['Week'] >= next_week:
        df.drop(index = index, inplace = True)

In [4]:
for index, row in df.iterrows():
    if row['Result'] == 'W':
        df.at[index, 'Result'] = 1
    else: 
        df.at[index, 'Result'] = 0

In [5]:
df = df.drop(columns = ["Movement", "Team"])

In [6]:
for name, values in df.iteritems():
    df[name] = pd.to_numeric(values)
    
df.dtypes

Week                    int64
Rank                    int64
W                       int64
L                       int64
Winning Percentage    float64
Opp. Rank               int64
Opp. P5                 int64
Home                    int64
Result                  int64
Points Scored           int64
Points Against          int64
Margin                  int64
Next Week Rank          int64
dtype: object

In [7]:
X = df.drop(columns = ['Next Week Rank'])
y = df["Next Week Rank"]

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 8)
X_train.shape

(120, 12)

In [9]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [10]:
#Multiple Linear Regression
from sklearn.linear_model import LinearRegression
lin_model = LinearRegression().fit(X_train, y_train)
lin_model.score(X_test, y_test)

0.9555639175672229

In [11]:
#Scaled Multiple Linear Regression
from sklearn.linear_model import LinearRegression
scaled_lin_model = LinearRegression().fit(X_train_scaled, y_train)
scaled_lin_model.score(X_test_scaled, y_test)

0.9555639175672239

In [12]:
#RF
from sklearn.ensemble import RandomForestRegressor
rf_model = RandomForestRegressor(random_state = 8)
rf_model.fit(X_train, y_train)
rf_model.score(X_test, y_test)

0.9533493939502933

In [13]:
#Scaled RF
from sklearn.ensemble import RandomForestRegressor
scaled_rf_model = RandomForestRegressor(random_state = 8)
scaled_rf_model.fit(X_train_scaled, y_train)
scaled_rf_model.score(X_test_scaled, y_test)

0.9532065730316871

In [14]:
#AdaBoost Regression
from sklearn.ensemble import AdaBoostRegressor as abr
ab_model = abr(random_state = 8).fit(X_train, y_train)
ab_model.score(X_test, y_test)

0.9193317530626918

In [15]:
#Scaled AdaBoost Regression
from sklearn.ensemble import AdaBoostRegressor as abr
scaled_ab_model = abr(random_state = 8).fit(X_train_scaled, y_train)
scaled_ab_model.score(X_test_scaled, y_test)

0.9254963164337884