In [1]:
import pandas as pd 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder

In [2]:
#Parameters
file = "../tables/2021AP.xlsx"
#Read in df
df = pd.read_excel(file)
df

,Team,Week,Rank,W,L,Winning Percentage,Opp. Rank,Opp. P5,Home,Result,Points Scored,Points Against,Margin,Next Week Rank,Movement
0,Alabama,1,1,0,0,1,14,1,0,W,44,13,31,1,0
1,Oklahoma,1,2,0,0,1,26,0,1,W,40,35,5,4,-2
2,Clemson,1,3,0,0,1,5,1,0,L,3,10,-7,6,-3
3,Ohio State,1,4,0,0,1,26,1,0,W,45,31,14,3,1
4,Georgia,1,5,0,0,1,3,1,0,W,10,3,7,2,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121,Auburn,5,22,3,1,0.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
122,NC State,5,23,3,1,0.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
123,Wake Forest,5,24,4,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
124,Clemson,5,25,2,2,0.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
125,Team,Week,Rank,W,L,Winning Percentage,Opp. Rank,Opp. P5,Home,Result,Points Scored,Points Against,Margin,Next Week Rank,Movement

In [3]:
#Drop footer
df.drop(index = (df.index.stop - 1), inplace = True)

#Drop null columns (teams with byes)
df.dropna(inplace = True)

In [4]:
for index, row in df.iterrows():
    if row['Result'] == 'W':
        df.at[index, 'Result'] = 1
    else: 
        df.at[index, 'Result'] = 0

In [5]:
df = df.drop(columns = ["Movement", "Team"])

In [6]:
for name, values in df.iteritems():
    df[name] = pd.to_numeric(values)
    
df.dtypes

Week                    int64
Rank                    int64
W                       int64
L                       int64
Winning Percentage    float64
Opp. Rank               int64
Opp. P5                 int64
Home                    int64
Result                  int64
Points Scored           int64
Points Against          int64
Margin                  int64
Next Week Rank          int64
dtype: object

In [7]:
X = df.drop(columns = ['Next Week Rank'])
y = df["Next Week Rank"]

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 8)
X_train.shape

(72, 12)

In [9]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [10]:
#RF
from sklearn.ensemble import RandomForestRegressor
rf_model = RandomForestRegressor(random_state = 8)
rf_model.fit(X_train, y_train)
rf_model.score(X_test, y_test)

0.8806621864970035

In [11]:
#Scaled RF
from sklearn.ensemble import RandomForestRegressor
rf_model = RandomForestRegressor(random_state = 8)
rf_model.fit(X_train_scaled, y_train)
rf_model.score(X_test_scaled, y_test)

0.8802410429744085

In [12]:
#Multiple Linear Regression
from sklearn.linear_model import LinearRegression
lin_model = LinearRegression().fit(X_train, y_train)
lin_model.score(X_test, y_test)

0.9334559546525938

In [13]:
results = pd.DataFrame(data = [lin_model.predict(X_test), y_test])
results

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
0,20.154397,19.474517,4.141995,11.668678,8.220083,14.285496,14.329241,11.17357,12.526145,6.163038,...,19.529381,16.590681,30.353218,3.783226,4.937504,8.203704,5.136404,24.422497,23.919906,27.187774
1,23.000000,18.000000,4.000000,13.000000,12.000000,16.000000,17.000000,10.00000,10.000000,3.000000,...,21.000000,15.000000,26.000000,3.000000,6.000000,6.000000,5.000000,26.000000,26.000000,26.000000

In [14]:
#Scaled Multiple Linear Regression
from sklearn.linear_model import LinearRegression
scaled_lin_model = LinearRegression().fit(X_train_scaled, y_train)
scaled_lin_model.score(X_test_scaled, y_test)

0.933455954652594

In [15]:
results = pd.DataFrame(data = [lin_model.predict(X_test), y_test])
results

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
0,20.154397,19.474517,4.141995,11.668678,8.220083,14.285496,14.329241,11.17357,12.526145,6.163038,...,19.529381,16.590681,30.353218,3.783226,4.937504,8.203704,5.136404,24.422497,23.919906,27.187774
1,23.000000,18.000000,4.000000,13.000000,12.000000,16.000000,17.000000,10.00000,10.000000,3.000000,...,21.000000,15.000000,26.000000,3.000000,6.000000,6.000000,5.000000,26.000000,26.000000,26.000000

In [16]:
#AdaBoost Regression
from sklearn.ensemble import AdaBoostRegressor as abr
ab_model = abr(random_state = 8).fit(X_train, y_train)
ab_model.score(X_test, y_test)

0.8500720193380067

In [17]:
#Scaled AdaBoost Regression
from sklearn.ensemble import AdaBoostRegressor as abr
ab_model = abr(random_state = 8).fit(X_train_scaled, y_train)
ab_model.score(X_test_scaled, y_test)

0.8412187023468092