In [1]:
import pandas as pd 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder

In [2]:
#Parameters
file = "../tables/2021AP.xlsx"
next_week = 6
#Read in df
df = pd.read_excel(file)
df

,Team,Week,Rank,W,L,Winning Percentage,Opp. Rank,Opp. P5,Home,Result,Points Scored,Points Against,Margin,Next Week Rank,Movement
0,Alabama,1,1,0,0,1,14,1,0,W,44,13,31,1,0
1,Oklahoma,1,2,0,0,1,26,0,1,W,40,35,5,4,-2
2,Clemson,1,3,0,0,1,5,1,0,L,3,10,-7,6,-3
3,Ohio State,1,4,0,0,1,26,1,0,W,45,31,14,3,1
4,Georgia,1,5,0,0,1,3,1,0,W,10,3,7,2,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146,Arizona State,6,22,4,1,0.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
147,NC State,6,23,4,1,0.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
148,SMU,6,24,5,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
149,San Diego State,6,25,4,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
150,Team,Week,Rank,W,L,Winning Percentage,Opp. Rank,Opp. P5,Home,Result,Points Scored,Points Against,Margin,Next Week Rank,Movement

In [3]:
#Drop footer
df.drop(index = (df.index.stop - 1), inplace = True)

#Drop null columns (teams with byes)
df.dropna(inplace = True)

#Set week
for index, row in df.iterrows():
    if row['Week'] >= next_week:
        df.drop(index = index, inplace = True)

In [4]:
#Make W/L binary values
for index, row in df.iterrows():
    if row['Result'] == 'W':
        df.at[index, 'Result'] = 1
    else: 
        df.at[index, 'Result'] = 0

In [5]:
df = df.drop(columns = ["Movement", "Team"])

In [6]:
for name, values in df.iteritems():
    df[name] = pd.to_numeric(values)
    
df.dtypes

Week                    int64
Rank                    int64
W                       int64
L                       int64
Winning Percentage    float64
Opp. Rank               int64
Opp. P5                 int64
Home                    int64
Result                  int64
Points Scored           int64
Points Against          int64
Margin                  int64
Next Week Rank          int64
dtype: object

In [7]:
#Group rankings to categories
for index, row in df.iterrows():
    if row['Rank'] <= 5:
        df.at[index, 'Rank'] = 0
    elif row['Rank'] <= 10:
        df.at[index, 'Rank'] = 1
    elif row['Rank'] <= 15:
        df.at[index, 'Rank'] = 2
    elif row['Rank'] <= 20:
        df.at[index, 'Rank'] = 3
    elif row['Rank'] <= 25:
        df.at[index, 'Rank'] = 4
    else:
        df.at[index, 'Rank'] = 5
        
for index, row in df.iterrows():
    if row['Next Week Rank'] <= 5:
        df.at[index, 'Next Week Rank'] = 0
    elif row['Next Week Rank'] <= 10:
        df.at[index, 'Next Week Rank'] = 1
    elif row['Next Week Rank'] <= 15:
        df.at[index, 'Next Week Rank'] = 2
    elif row['Next Week Rank'] <= 20:
        df.at[index, 'Next Week Rank'] = 3
    elif row['Next Week Rank'] <= 25:
        df.at[index, 'Next Week Rank'] = 4
    else:
        df.at[index, 'Next Week Rank'] = 5

In [8]:
print(df['Rank'].to_list())

[0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 3, 3, 3, 3, 4, 4, 4, 4, 4, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 3, 3, 3, 3, 4, 4, 4, 4, 4, 0, 0, 0, 0, 0, 1, 1, 1, 1, 2, 2, 2, 2, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4]

In [9]:
print(df['Next Week Rank'].to_list())

[0, 0, 1, 0, 0, 0, 1, 1, 1, 4, 2, 3, 2, 4, 2, 5, 5, 1, 2, 5, 2, 3, 5, 4, 4, 0, 0, 1, 0, 1, 1, 1, 2, 2, 0, 1, 0, 2, 5, 5, 3, 3, 2, 3, 5, 4, 3, 4, 4, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 2, 2, 4, 2, 5, 3, 2, 5, 3, 4, 4, 2, 5, 3, 0, 0, 0, 1, 0, 0, 2, 4, 2, 1, 1, 5, 2, 1, 3, 5, 2, 3, 5, 3, 4, 3, 5, 0, 0, 1, 0, 0, 1, 0, 2, 2, 3, 1, 3, 1, 1, 5, 2, 2, 5, 2, 5, 5, 3, 4, 3, 5]

In [10]:
X = df.drop(columns = ['Next Week Rank'])
y = df["Next Week Rank"]

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 8)
X_train.shape

(90, 12)

In [12]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [13]:
#Decision Tree classifier
from sklearn import tree
dtc = tree.DecisionTreeClassifier(random_state = 8)
dtc.fit(X_train, y_train)
dtc.score(X_test, y_test)

0.6129032258064516

In [14]:
#Random Forest classifier
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier(random_state = 8)
rfc.fit(X_train, y_train)
rfc.score(X_test, y_test)

0.6451612903225806

In [15]:
#Support Vector Machine classifier
from sklearn.svm import SVC
svm = SVC(random_state = 8)
svm.fit(X_train, y_train)
svm.score(X_test, y_test)

0.3548387096774194

In [16]:
#Scaled SVMC
svm = SVC(random_state = 8)
svm.fit(X_train_scaled, y_train)
svm.score(X_test_scaled, y_test)

0.5161290322580645

In [17]:
#K-means classifier
from sklearn.cluster import KMeans
knc = KMeans(n_clusters = 6, random_state = 8)
knc.fit(X_train, y_train)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
       n_clusters=6, n_init=10, n_jobs=None, precompute_distances='auto',
       random_state=8, tol=0.0001, verbose=0)

In [18]:
results = pd.DataFrame([knc.predict(X_test), y_test])
results

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,30
0,0,5,2,2,1,3,5,3,4,0,...,4,5,0,4,5,0,3,0,5,1
1,1,1,1,1,3,2,2,5,1,0,...,1,2,1,0,3,0,5,1,5,0

In [19]:
knc.score(X_test, y_test)

-5543.600038075641

In [20]:
#Scaled K-means classifier
knc = KMeans(n_clusters = 6, random_state = 8)
knc.fit(X_train_scaled, y_train)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
       n_clusters=6, n_init=10, n_jobs=None, precompute_distances='auto',
       random_state=8, tol=0.0001, verbose=0)

In [21]:
results = pd.DataFrame([knc.predict(X_test), y_test])
results

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,30
0,0,2,2,2,2,4,2,0,2,2,...,2,0,2,2,4,2,4,2,0,2
1,1,1,1,1,3,2,2,5,1,0,...,1,2,1,0,3,0,5,1,5,0

In [22]:
knc.score(X_test, y_test)

-91411.07762372743