In [1]:
import pandas as pd
from experimental_models import data_prep, scale, run_mlr, run_rf, run_ab

In [2]:
mlr_params = {}
mlr_params['feature_drop'] = ['Movement', 'Team', 'Points Scored']
rf_params = {}
rf_params['feature_drop'] = ['Movement', 'Team', 'Points Scored']
ab_params = {}
ab_params['feature_drop'] = ['Movement', 'Team', 'Points Scored']

In [13]:
next_week = 13
df = data_prep(next_week)
df

,Team,Week,Rank,W,L,Winning Percentage,Opp. Rank,Opp. P5,Home,Result,Points Scored,Points Against,Margin,Next Week Rank,Movement
0,Alabama,1,1,0,0,1,14,1,0,1,44,13,31,1,0
1,Oklahoma,1,2,0,0,1,26,0,1,1,40,35,5,4,-2
2,Clemson,1,3,0,0,1,5,1,0,0,3,10,-7,6,-3
3,Ohio State,1,4,0,0,1,26,1,0,1,45,31,14,3,1
4,Georgia,1,5,0,0,1,3,1,0,1,10,3,7,2,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,Arkansas,12,21,7,3,0.7,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN
296,Louisiana-Lafayette,12,22,9,1,0.9,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN
297,San Diego State,12,23,9,1,0.9,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN
298,Utah,12,24,7,3,0.7,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN
299,NC State,12,25,7,3,0.7,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN

In [10]:
for next_week in range(5, 13):
    df = data_prep(next_week)
    print(run_mlr(mlr_params, df))

(0.9370684444821059, 1.4683345807292776)
(0.9407915033994343, 1.396354266860089)
(0.9386355003000514, 1.5283100897167579)
(0.9637030525299098, 1.170737151883482)
(0.9245813406436354, 1.4321894902361731)
(0.9387702444385766, 1.5038095468662616)
(0.9333512721571475, 1.4895778630715295)
(0.9380550315375414, 1.5060088276813672)

In [11]:
for next_week in range(5, 13):
    df = data_prep(next_week)
    print(run_rf(rf_params, df))

(0.8467831671540169, 2.137916666666667)
(0.889678817857888, 1.7167741935483873)
(0.8307903784261587, 1.9038888888888894)
(0.9479204570181462, 1.2631707317073173)
(0.8971333125973944, 1.6017777777777775)
(0.9297495266499287, 1.609803921568627)
(0.943522787747725, 1.3828070175438596)
(0.9464076625352185, 1.3347619047619044)

In [12]:
for next_week in range(5, 13):
    df = data_prep(next_week)
    print(run_ab(ab_params, df))

(0.7799932232261209, 2.5202632603347914)
(0.8593937444904574, 2.2310575607596177)
(0.825969865675419, 2.1868148787053303)
(0.8921455645939438, 1.919335509955431)
(0.8402271858238222, 1.962428536939161)
(0.8896000018055832, 1.9589189416880104)
(0.9017362797270793, 1.8315745366922245)
(0.8939759087384842, 1.8624374971805946)