In [1]:
import pandas as pd
import experimental_models as em

In [2]:
movement_params = {}
movement_params['feature_drop'] = ['Movement', 'Team', 'Points Scored']

In [3]:
next_week = 13
df = em.data_prep(next_week)
df

,Team,Week,Rank,W,L,Winning Percentage,Opp. Rank,Opp. P5,Home,Result,Points Scored,Points Against,Margin,Next Week Rank,Movement
0,Alabama,1,1,0,0,1,14,1,0,1,44,13,31,1,0
1,Oklahoma,1,2,0,0,1,26,0,1,1,40,35,5,4,-2
2,Clemson,1,3,0,0,1,5,1,0,0,3,10,-7,6,-3
3,Ohio State,1,4,0,0,1,26,1,0,1,45,31,14,3,1
4,Georgia,1,5,0,0,1,3,1,0,1,10,3,7,2,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,Arkansas,12,21,7,3,0.7,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN
296,Louisiana-Lafayette,12,22,9,1,0.9,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN
297,San Diego State,12,23,9,1,0.9,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN
298,Utah,12,24,7,3,0.7,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN
299,NC State,12,25,7,3,0.7,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN

In [11]:
a, b, c = em.run_movement(movement_params, df, get_table = True, model = 'forest')

In [12]:
print(a, b)

0.8095238095238095 0.31746031746031744

In [16]:
pd.set_option("display.max_rows", None, "display.max_columns", None)

In [17]:
c

    Predictions  Actual
0           1.0     1.0
1           2.0     2.0
2           1.0     2.0
3           2.0     2.0
4           1.0     1.0
5           1.0     3.0
6           1.0     1.0
7           1.0     1.0
8           1.0     1.0
9           1.0     3.0
10          1.0     1.0
11          1.0     3.0
12          1.0     1.0
13          3.0     3.0
14          1.0     1.0
15          0.0     0.0
16          2.0     3.0
17          1.0     3.0
18          1.0     3.0
19          1.0     1.0
20          1.0     1.0
21          3.0     3.0
22          2.0     2.0
23          1.0     1.0
24          1.0     1.0
25          1.0     1.0
26          1.0     1.0
27          3.0     3.0
28          1.0     1.0
29          1.0     1.0
30          3.0     1.0
31          3.0     1.0
32          0.0     0.0
33          1.0     1.0
34          2.0     2.0
35          1.0     1.0
36          1.0     1.0
37          3.0     2.0
38          1.0     1.0
39          3.0     3.0
40          1.0     1.0
41          3.0     3.0
42          0.0     0.0
43          1.0     1.0
44          0.0     0.0
45          1.0     1.0
46          1.0     1.0
47          2.0     2.0
48          2.0     2.0
49          3.0     2.0
50          0.0     0.0
51          1.0     1.0
52          1.0     1.0
53          1.0     1.0
54          2.0     2.0
55          3.0     3.0
56          0.0     0.0
57          1.0     1.0
58          1.0     3.0
59          1.0     1.0
60          1.0     1.0
61          2.0     2.0
62          1.0     1.0

In [18]:
from sklearn.metrics import accuracy_score

In [19]:
accuracy_score(c['Actual'], c['Predictions'])

0.8095238095238095