In [1]:
import pandas as pd

In [2]:
from models import data_prep, run_mlr, run_rf

In [3]:
#Parameters
mlr_params = {}
mlr_params['feature_drop'] = ['Movement', 'Team', 'Points Scored']
mlr_params['max_rank'] = 26

rf_params = {}
rf_params['feature_drop'] = ['Movement', 'Team', 'Points Scored']
rf_params['max_rank'] = 26

In [4]:
for next_week in range(5, 12):
    df = data_prep(next_week)
    print(run_mlr(mlr_params, df, next_week))

(0.9213195011073552, 36)
(0.8623091269378715, 49)
(0.9053846153846153, 45)
(0.980319803198032, 18)
(0.9213195011073552, 32)
(0.9437718664963626, 31)
(0.911848700314722, 43)

In [5]:
for next_week in range(5, 12):
    df = data_prep(next_week)
    print(run_rf(rf_params, df, next_week))

(0.8671658012317354, 46)
(0.9475753604193972, 26)
(0.9361538461538461, 37)
(0.9532967032967032, 21)
(0.8455530947662897, 44)
(0.9521019603487533, 29)
(0.9235050705210397, 37)

In [6]:
next_week = 11
df = data_prep(next_week)
a, b, lin = run_mlr(mlr_params, df, next_week, get_table = True)

In [7]:
b

43

In [9]:
next_week = 11
df = data_prep(next_week)
a, b, rf = run_rf(rf_params, df, next_week, get_table = True)

In [10]:
b

37

In [21]:
compare_results = pd.DataFrame()
compare_results['mlr'] = lin['Adj. Predicted Ordinal Rank']
compare_results['rf'] = rf['Adj. Predicted Ordinal Rank']
compare_results['actual'] = lin['Actual Rank']
compare_results

    mlr  rf  actual
0     1   1       1
1     2   2       2
2     4   4       3
3     3   3       4
4    12   8       8
5     5   5       6
6     6   6       5
7     7   7       7
8     8  10       9
9    15  17      13
10    9  11      10
11   19  16      16
12   10   9      11
13   22  22      18
14   14  13      12
15   11  12      15
16   13  14      14
17   23  23      26
18   17  15      19
19   16  18      17
20   18  19      22
21   20  20      23
22   26  26      26
23   21  21      24
24   26  26      26