In [1]:
import pandas as pd 
import predictive_models as pm

In [2]:
#Parameters
mlr_params = {}
mlr_params['feature_drop'] = ['Movement', 'Team', 'Points Scored']
mlr_params['max_rank'] = 26

rf_params = {}
rf_params['feature_drop'] = ['Movement', 'Team', 'Points Scored']
rf_params['max_rank'] = 26

next_week = 13

In [22]:
lin_df = pd.DataFrame()
lin_r2 = []
lin_abs = []
lin_week = []

for week in range(5, next_week):
    df = pm.data_prep(week)
    
    lin_week.append(week)
    
    r2, _abs = pm.run_mlr(mlr_params, df, week)
    lin_r2.append(r2)
    lin_abs.append(_abs)
    
    print(r2, _abs)

lin_df['Week'] = lin_week
lin_df['R2'] = lin_r2
lin_df['Abs'] = lin_abs

0.9213195011073552 36
0.8623091269378715 49
0.9053846153846153 45
0.980319803198032 18
0.9213195011073552 32
0.9437718664963626 31
0.911848700314722 43
0.9577456580020981 28

In [23]:
lin_df

   Week        R2  Abs
0     5  0.921320   36
1     6  0.862309   49
2     7  0.905385   45
3     8  0.980320   18
4     9  0.921320   32
5    10  0.943772   31
6    11  0.911849   43
7    12  0.957746   28

In [24]:
rf_df = pd.DataFrame()
rf_r2 = []
rf_abs = []
rf_week = []

for week in range(5, next_week):
    df = pm.data_prep(week)
    
    rf_week.append(week)
    
    r2, _abs = pm.run_rf(rf_params, df, week)
    rf_r2.append(r2)
    rf_abs.append(_abs)
    
    print(r2, _abs)
    
rf_df['Week'] = rf_week
rf_df['R2'] = rf_r2
rf_df['Abs'] = rf_abs

0.8671658012317354 46
0.9475753604193972 26
0.9361538461538461 37
0.9532967032967032 21
0.8455530947662897 44
0.9521019603487533 29
0.9235050705210397 37
0.9652819707764763 24

In [25]:
rf_df

   Week        R2  Abs
0     5  0.867166   46
1     6  0.947575   26
2     7  0.936154   37
3     8  0.953297   21
4     9  0.845553   44
5    10  0.952102   29
6    11  0.923505   37
7    12  0.965282   24

In [5]:
df = pm.data_prep(next_week)
a, b, lin = pm.run_mlr(mlr_params, df, next_week, get_table = True)

In [7]:
lin

,Team,Previous Rank,Predicted Rank,Predicted Ordinal Rank,Adj. Predicted Ordinal Rank,Actual Rank
0,Georgia,1,0.458800,2,2,1
1,Alabama,2,1.316180,3,3,3
2,Cincinnati,3,2.489816,4,4,4
3,Oregon,4,13.445308,14,14,11
4,Ohio State,5,0.040323,1,1,2
5,Notre Dame,6,4.202018,5,5,5
6,Michigan State,7,12.599253,11,11,12
7,Michigan,8,5.877845,6,6,6
8,Oklahoma State,9,8.105860,7,7,10
9,Ole Miss,10,9.434323,8,8,8
10,Baylor,11,10.665887,10,10,9
11,Oklahoma,12,10.402628,9,9,7
12,Wake Forest,13,20.008315,23,23,21
13,BYU,14,13.278036,13,13,13
14,UTSA,15,12.714912,12,12,15
15,Texas A&M,16,14.489373,15,15,14
16,Houston,17,14.893661,16,16,19
17,Iowa,18,15.641756,17,17,17
18,Wisconsin,19,17.150131,20,20,18
19,Pittsburgh,20,16.714657,19,19,20
20,Arkansas,21,22.912794,25,25,25
21,Louisiana-Lafayette,22,18.320059,21,21,23
22,San Diego State,23,19.840557,22,22,22
23,Utah,24,16.596479,18,18,16
24,NC State,25,21.365854,24,24,24

In [8]:
df = pm.data_prep(next_week)
a, b, rf = pm.run_rf(rf_params, df, next_week, get_table = True)

In [9]:
rf

,Team,Previous Rank,Predicted Rank,Predicted Ordinal Rank,Adj. Predicted Ordinal Rank,Actual Rank
0,Georgia,1,1.00,1,1,1
1,Alabama,2,3.16,3,3,3
2,Cincinnati,3,2.57,2,2,4
3,Oregon,4,10.34,11,11,11
4,Ohio State,5,4.13,4,4,2
5,Notre Dame,6,5.15,5,5,5
6,Michigan State,7,14.27,13,13,12
7,Michigan,8,6.97,6,6,6
8,Oklahoma State,9,8.15,7,7,10
9,Ole Miss,10,9.05,8,8,8
10,Baylor,11,9.17,9,9,9
11,Oklahoma,12,9.71,10,10,7
12,Wake Forest,13,18.38,20,20,21
13,BYU,14,13.62,12,12,13
14,UTSA,15,14.57,14,14,15
15,Texas A&M,16,15.72,17,17,14
16,Houston,17,15.30,15,15,19
17,Iowa,18,15.32,16,16,17
18,Wisconsin,19,16.40,18,18,18
19,Pittsburgh,20,18.18,19,19,20
20,Arkansas,21,23.60,25,25,25
21,Louisiana-Lafayette,22,19.87,22,22,23
22,San Diego State,23,20.88,23,23,22
23,Utah,24,19.84,21,21,16
24,NC State,25,21.22,24,24,24