In [1]:
import pandas as pd 
import predictive_models as pm

In [2]:
#Parameters
mlr_params = {}
mlr_params['feature_drop'] = ['Movement', 'Team', 'Points Scored']
mlr_params['max_rank'] = 26

rf_params = {}
rf_params['feature_drop'] = ['Movement', 'Team', 'Points Scored']
rf_params['max_rank'] = 26

In [3]:
for next_week in range(5, 13):
    df = pm.data_prep(next_week)
    print(pm.run_mlr(mlr_params, df, next_week))

(0.9213195011073552, 36)
(0.8623091269378715, 49)
(0.9053846153846153, 45)
(0.980319803198032, 18)
(0.9213195011073552, 32)
(0.9437718664963626, 31)
(0.911848700314722, 43)
(0.9577456580020981, 28)

In [4]:
for next_week in range(5, 13):
    df = pm.data_prep(next_week)
    print(pm.run_rf(rf_params, df, next_week))

(0.8671658012317354, 46)
(0.9475753604193972, 26)
(0.9361538461538461, 37)
(0.9532967032967032, 21)
(0.8455530947662897, 44)
(0.9521019603487533, 29)
(0.9235050705210397, 37)
(0.9652819707764763, 24)

In [5]:
next_week = 12
df = pm.data_prep(next_week)
a, b, lin = pm.run_mlr(mlr_params, df, next_week, get_table = True)

In [6]:
lin

,Team,Previous Rank,Predicted Rank,Predicted Ordinal Rank,Adj. Predicted Ordinal Rank,Actual Rank
0,Georgia,1,0.514686,1,1,1
1,Cincinnati,2,2.007976,2,2,3
2,Alabama,3,2.467235,3,3,2
3,Oklahoma,4,11.180359,12,12,12
4,Oregon,5,4.517027,5,5,4
5,Ohio State,6,4.366025,4,4,5
6,Notre Dame,7,6.356562,6,6,6
7,Michigan State,8,6.712968,7,7,7
8,Michigan,9,7.873386,9,9,6
9,Oklahoma State,10,7.094400,8,8,9
10,Texas A&M,11,16.762582,18,18,16
11,Ole Miss,12,8.323089,10,10,10
12,Wake Forest,13,9.702054,11,11,13
13,BYU,14,14.000000,15,15,14
14,UTSA,15,12.773126,14,14,15
15,Auburn,16,23.306549,22,22,26
16,Houston,17,14.522811,16,16,18
17,Baylor,18,11.742907,13,13,11
18,Iowa,19,16.621435,17,17,18
19,Wisconsin,20,17.555310,19,19,19
20,NC State,21,23.795674,23,23,25
21,Coastal Carolina,22,26.982292,25,26,26
22,Penn State,23,26.197896,24,26,26
23,Louisiana-Lafayette,24,20.214232,20,20,22
24,Pittsburgh,25,21.147615,21,21,20

In [7]:
next_week = 12
df = pm.data_prep(next_week)
a, b, rf = pm.run_rf(rf_params, df, next_week, get_table = True)

In [8]:
rf

,Team,Previous Rank,Predicted Rank,Predicted Ordinal Rank,Adj. Predicted Ordinal Rank,Actual Rank
0,Georgia,1,1.04,1,1,1
1,Cincinnati,2,2.37,2,2,3
2,Alabama,3,3.19,3,3,2
3,Oklahoma,4,8.58,11,11,12
4,Oregon,5,5.04,4,4,4
5,Ohio State,6,5.80,5,5,5
6,Notre Dame,7,6.45,6,6,6
7,Michigan State,8,7.39,7,7,7
8,Michigan,9,7.53,8,8,6
9,Oklahoma State,10,8.32,10,10,9
10,Texas A&M,11,15.84,17,17,16
11,Ole Miss,12,8.07,9,9,10
12,Wake Forest,13,10.38,12,12,13
13,BYU,14,14.00,15,15,14
14,UTSA,15,13.21,14,14,15
15,Auburn,16,25.31,25,26,26
16,Houston,17,14.07,16,16,18
17,Baylor,18,11.29,13,13,11
18,Iowa,19,16.57,18,18,18
19,Wisconsin,20,19.11,19,19,19
20,NC State,21,24.34,23,23,25
21,Coastal Carolina,22,24.65,24,24,26
22,Penn State,23,24.31,22,22,26
23,Louisiana-Lafayette,24,21.89,21,21,22
24,Pittsburgh,25,21.47,20,20,20

In [9]:
compare_results = pd.DataFrame()
compare_results['mlr'] = lin['Adj. Predicted Ordinal Rank']
compare_results['rf'] = rf['Adj. Predicted Ordinal Rank']
compare_results['actual'] = lin['Actual Rank']
compare_results

    mlr  rf  actual
0     1   1       1
1     2   2       3
2     3   3       2
3    12  11      12
4     5   4       4
5     4   5       5
6     6   6       6
7     7   7       7
8     9   8       6
9     8  10       9
10   18  17      16
11   10   9      10
12   11  12      13
13   15  15      14
14   14  14      15
15   22  26      26
16   16  16      18
17   13  13      11
18   17  18      18
19   19  19      19
20   23  23      25
21   26  24      26
22   26  22      26
23   20  21      22
24   21  20      20